
:root {

    --body: #fff;
    --black: #000;
    --white: #ffffff;
    --theme: #22367b;
    --theme2: #00b0d7;
    --header: #22367b;
    --text: #333333;
    --text-2: #ffffffcc;
    --border: #E5E5E5;
    --border2: #22367b;
    --border3: #00b0d7;
    --bg: #ffffff;
    --bg2: #f0f8ff;
    --bg3: #e8f5e8;
    --accent: #c9147b;
    --box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.06);
}

// Theme Color - Default Colors
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme);
$theme-color-2: var(--theme2);
$text-color: var(--text);
$text-color-2: var(--text-2);
$header-color: var(--header);
$border-color: var(--border);
$border-color-2: var(--border2);
$border-color-3: var(--border3);
$bg-color: var(--bg);
$bg-color-2: var(--bg2);
$bg-color-3: var(--bg3);
$accent-color: var(--accent);
$shadow: var(--box-shadow);

// Additional Color Variables for Accent Theme
$primary-green: #9dc83b;
$accent-purple: #632a7b;
$accent-pink: #c9147b;
$accent-red: #d82731;
$accent-orange: #ff9400;
$accent-yellow: #ffe60d;